<% if params[:band_id] %>
  <h1>New Business Request</h1>
  <%= render 'form', business_request: @business_request %>
<% else %>
  <h1> Oops! You dont have permission to view this page!</h1>
<%= link_to 'Home', '/' %>
<% end %>
