<!-- CREATED BY: Brandon Brown 4/16/2018
     DESCRIPTION: page for about us page for website purpose
-->
<h1> About Us &#9679 Ruby Off the Rails </h1>

<h2>
    <b> Email: </b> RubyOffTheRails@osu.edu </br>
    <b> Phone Number: </b> (614) 292-5555
</h2>

<h1> Our Story </h1>
<div id="about">
  <p>
      </br>
      ArtistBook's provides a platform focused on 
      bringing artists and event planners together. 
      The main focus is providing local artists the 
      ability to negoiate with local business for gig
      opportunities, which in return increases their 
      exposure. 
  </p>
</div>
