<!-- 
  Created: Brandon Brown 04/13/2018
  Description: a page contain the info of all group members 
-->

<h2> Meet the Team &#9679 Ruby Off the Rails </h2>

<p>
   <b> Email: </b> RubyOffTheRails@osu.edu </br>
   <b> Phone Number: </b> (614) 292-5555
</p>

<div id="spacing">
  <div id="wrap">

    <!-- Developer Name -->
    <div class="rightTop"> 
      <h3> 
         Henry Karagory &#9679 Project Manager </br>
         Email &#9679 karagory.1@osu.edu
      </h3>
    </div>

    <!-- Developer Info -->
    <div class="rightBottom">
      <p>
          </br>
          Henry is an undergraduate student at The Ohio State
          University. He currently is majoring in Computer Science
          & Engineering and Mathematics. 
      </p>
    <div>

  </div>
</div>


<div id="spacing">
  <div id="wrap">

    <!-- Developer Name -->
    <div class="rightTop"> 
      <h3> 
          Brandon Brown &#9679 Implementation Manager </br>
          Email &#9679 brown.5562@osu.edu
      </h3>
    </div>

    <!-- Developer Info -->
    <div class="rightBottom">
      <p>
          </br>
          Brandon is an undergraduate student at The Ohio
          State University. He currently is majoring in 
          Computer Science & Engineering with a specilization
          in software engineering. In his free time, he enjoys
          running, playing basketball, cars, and hanging out
          with friends.
      </p>
    <div>

  </div>
</div>

<div id="spacing">
  <div id="wrap">


    <!-- Developer Name -->
    <div class="rightTop"> 
      <h3> 
         Alec Maier &#9679 Testing Manager </br>
         Email &#9679 maier.144@osu.edu
      </h3>
    </div>

    <!-- Developer Info -->
    <div class="rightBottom">
      <p>
          </br>
          Alec is an undergraduate student at The Ohio 
          State University. He is currently majoring in 
          Computer Science & Engineering.
      </p>
    <div>

  </div>
</div>

<div id="spacing">
  <div id="wrap">

    <!-- Developer Name -->
    <div class="rightTop"> 
      <h3> 
         Sam Wolfe &#9679 Documentation Manager </br>
         Email &#9679 wolfe.766@osu.edu
      </h3>
    </div>

    <!-- Developer Info -->
    <div class="rightBottom">
      <p>
          </br>
          Sam is an undergraduate student at The Ohio 
          State University. He is currently majoring in 
          Computer Science & Engineering.
      </p>
    <div>

  </div>
</div>

<div id="spacing">
  <div id="wrap">

    <!-- Developer Name -->
    <div class="rightTop"> 
      <h3> 
         David Levine </br>
         Email &#9679 levine.1726@osu.edu
      </h3>
    </div>

    <!-- Developer Info -->
    <div class="rightBottom">
      <p>
          </br>
          David is a third year undergraduate student from 
          State University. He is currently majoring in 
          Computer Science & Engineering. When he has free time
          he enjoys running, hanging out with friends in his
          service fraternity Alpha Phi Omega, and playing
          video games.
      </p>
    <div>

  </div>
</div>


