<div class="search">
	<h1>Search Results</h1>

	<% if @bands.length !=0 %>
		<%= render :partial => 'searches/band', :collection => @bands %>
	<% else %>
		<h2> There are no bands matching your search </h2> <%= link_to "New search", new_search_path, class: "btn btn-primary" %>
	<% end %>
</div>
