/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require semantic_ui/semantic_ui
 */
///stylesheets/application.scss


//override bootstrap default iteration count (2)
*{
  animation-iteration-count: 1;
}

body {
  background-color: #f4f4f4;
  color: white !important;
}


#login_bg {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%), image-url("concert.jpg") !important;
  background-size: 100% !important;
}

#site_bg {
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.1) 100%), image-url("diagmonds.png") !important;
}


.wrap {
    width: 610px;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    clear: both;
    padding-top: 20px;
}

.navbar {
  height: 8% !important;
  font-size: 2em;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.6) ;
}

.navbar .nav-link {
  display: inline-block;
  font-size: 1.4em;
  padding-left: 25px !important;
  padding-right: 25px !important;
  color: #0842a0 !important;
}

.navbar .nav-link:hover{
  background-color: lightgrey;
}



.navbar .navbar-brand {
  font-style: italic;
  font-weight: bold;
  font-size: 1.6em;
  color: #538fef !important;
}

.navbar .navbar-brand:hover {
  background-color: transparent;
}

.site_content {
  margin-top: 3%;
  margin-left: 16%;
  margin-right: 16%;
  margin-bottom: 10%;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slide_in {
  from {
    transform: translateX(-5%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
