body {
  margin-left: 16%;
  margin-right: 16%;
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: lightblue;
    background-color: lightblue;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  animation: fadein 1.5s;
  margin-top: 3%;
  padding: 4px;
  color: darkgreen;
  background-color: #cbf4cb;
  border: 1px solid green;
  border-radius: 5px;
  width: 23%;
}

#notice::after{
  content: " ✓";

}

.field_with_errors {
  color: red;
}

.field_with_errors input[type="text"] {
  box-shadow: 1px 1px 5px red;
}

.field_with_errors input[type="date"] {
  box-shadow: 1px 1px 5px red;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
