/*
	CREATED: Henry Karagory 04/14/2018
		- This file contains styling for the searches portion of the website.
		Some styles from the business_request.scss file that Alec Maier wrote 
		are reused here.
*/

.search h1 {
  color: #1d6ae5;
  font-size: 3em;
}

.search h2{
  color: #1d6ae5;
  font-size: 2em;
  margin-right: 6%;
}

.search-button{
  background-color: #1d6ae5;
  color: white;
  border: none;
  padding: 15px;
  transition: all 0.1s;
  cursor: pointer;
  margin-bottom: 5%;
  margin-top: 5%;
}

.search-button:hover{
  opacity: 0.8;
  color: white;
  border: none;
  transform: scale(1.05);
  }

.search-form input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.search-form input[type=text]:focus {
  box-shadow: 1px 1px 5px #bfa96e;
}

.search-form {
  opacity: 0;
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  animation-fill-mode: forwards;
  display: inline-block;
  text-align: left;
}

.search-form label {
  color: #0842a0;
}