<!-- CREATED: Sam Wolfe 4/17/2018
Description: Displays a list of all the artists -->
<div class="request_index">

  <h1>Artist Directory</h1>

  <div>
  <%= render partial: "bands/band", collection: @bands %>
  </div>

</div>