<%
=begin
  MODIFIED: David Levine 04/09/2018
    -Changed view to support different user accounts.
  MODIFIED: Henry Karagory and David Levnie 04/13/2018
  	-Now render for bands what posts they have applied to and what they have not
  	 applied to
  MODIFIED: David Levine 04/14/2018
  	-Posts are now seperated into what's been applied to and what hasn't
  	 been applied to
=end
%>
<div class="post">
	<% if business_signed_in? %>
	<h1>Your Business's Requests</h1>
	<% #check if user has made any posts yet. otherwise notify them they need to make post %>
	<% if !@posts%>
	  <p>You haven't made any posts yet!</p>
	<% else %>
	<%= render partial: "posts/post", collection: @posts %>
	<% end %>
	<div class="request-btn">
		<button class="ui button" onclick="window.location.href='<%=new_post_path%>'">Make New Band Request</button>
	</div>
	<% else %>
		<% if @posts_applied.length != 0 %>
			<h1>Gigs you've applied to</h1>
			<%= render partial: "posts/post", collection: @posts_applied, locals: {applied: true} %>
		<%end%>
		<h1>Open Gigs</h1>
		<% if @posts_not_applied.length != 0 %>
			<%= render partial: "posts/post", collection: @posts_not_applied, locals: {applied: false} %>
		<% else %>
			<p>There's nothing here for you to apply to!</p>
		<% end %>
	<% end %>
</div>
<% end %>
