<%
=begin
  MODIFIED: David Levine 04/09/2018
    -Changed view to support different user accounts.
=end
%>
<% if business_signed_in? %>
<h1>Your Business's Requests</h1>
<% else %>
<h1>All Business Requests</h1>
<% end %>
<% #check if user has made any posts yet. otherwise notify them they need to make post %>
<% if !@posts%>
  <p>You haven't made any posts yet!</p>
<% else %>
<table>
  <thead>
    <tr>
      <th>Message</th>
      <th>Date</th>
      <% if band_signed_in? %>
      <th>Business</th>
      <% end %>
      <th>Pay</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: "posts/post", collection: @posts %>
  </tbody>
</table>

<% end %>

<br>

<% if business_signed_in? %>
<%= link_to 'Make New Band Request', new_post_path %>
<% end %>
