<%
=begin
  MODIFIED: David Levine 04/09/2018
    -Changed view to support different user accounts.
=end
%>
<% if business_signed_in? %>
<h1>Your Business's Requests</h1>
<% else %>
<h1>All Business Requests</h1>
<% end %>
<% #check if user has made any posts yet. otherwise notify them they need to make post %>
<% if !@posts%>
  <p>You haven't made any posts yet!</p>
<% else %>
<%= render partial: "posts/post", collection: @posts %>
<% end %>

<br>

<% if business_signed_in? %>
<button class="ui primary button" onclick="window.location.href=<%=new_post_path%>">Make New Band Request</button>
<% end %>
