<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/homepage/business">ArtistBook</a>
  <ul class="navbar-nav mr-auto">
    <li>
      <a class="nav-link" href="/homepage/business">Home</a>
    </li>
    <li>
      <a class="nav-link" href="#">Profile</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown">
        Artist Requests
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/searches/new">Search/Request an artist</a>
        <a class="dropdown-item" href="/business_requests">View active requests</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown">
        Gig Postings
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/posts/new">Make a posting</a>
        <a class="dropdown-item" href="/posts">View active positings</a>
      </div>
    </li>
    <li>
      <a class="nav-link" href="/business_requests">My Active Requests</a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li>
      <% if business_signed_in? && @business_id = current_business.id %>
        <%= link_to "Sign Out", destroy_business_session_path, method: :delete, class: "nav-link" %>
      <% end %>
    </li>
  </ul>
</nav>