<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">ArtistBook</a>
  <ul class="navbar-nav mr-auto">
    <li>
      <a class="nav-link" href="/homepage/business">Home</a>
    </li>
    <li>
      <a class="nav-link" href="#">Profile</a>
    </li>
    <li>
      <a class="nav-link" href="/searches/new">Search/Request Artists</a>
    </li>
    <li>
      <a class="nav-link" href="/business_requests">My Active Requests</a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li>
      <% if business_signed_in? && @business_id = current_business.id %>
        <%= link_to "Sign Out", destroy_business_session_path, method: :delete, class: "nav-link" %>
      <% end %>
    </li>
  </ul>
</nav>