<nav>
  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to "Home", '#' %></li>
    <li><%= link_to "Profile", '#' %></li>
    <li><%= link_to "Sign Out", '#' %></li>
  </ul>
  <button type="button" class="btn btn-primary">Primary</button>
</nav>
