<!--
  CREATED BY: Brandon Brown 4/16/2018
  DESCRIPTION: Business home page 
-->
<div class="profileContent">
  <div class="homepageContainer">
      <%= image_tag current_business.photo.url(:medium) %>
      <p class="profileName">Welcome, <%= current_business.business_name %>!</p>
  </div>

  <p class="cardTitle"> Active Postings </p>
  <div class="postsApplied containter"> 
      <% if @posts.length > 0 %>
          <%= render partial: "homepage/post", collection: @posts %>
      <% else %>
          <span>There is nothing to show!</span>
      <% end %>
  </div> 
</div>

