<!--
  CREATED BY: Brandon Brown 4/16/2018
  DESCRIPTION: Business home page 

  MODIFIED: David Levine 4/17/2018
    -Added business profile information and a link to edit said information
-->
<div class="profileContent">
  <div class="homepageContainer">
      <%= image_tag current_business.photo.url(:medium) %>
      <div>
        <div class="profileName">Welcome, <%= current_business.business_name %>!</div>
        <div><%= link_to "Click to View/Edit Profile", edit_business_path(current_business.id) %></div>
      </div>
    </div>
  </div>


  <p class="cardTitle">Your Active Postings</p>
  <div class="postsApplied containter"> 
      <% if @posts.length > 0 %>
          <%= render partial: "homepage/post", collection: @posts %>
      <% else %>
          <span>There is nothing to show!</span>
      <% end %>
  </div> 
</div>

