<h1>Homepage</h1>

<p><%= link_to 'New Business', new_business_path %></p>
<p><%= link_to 'New Band', new_band_path %></p>

<p><%= link_to 'Business Sign In', new_business_session_path %></p>
<p><%= link_to 'Band Sign In', new_band_session_path %></p>
